<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--FONT-FAMILY-ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--my-styless-->
    <link rel="stylesheet" href="./css/styles.css">
    <title>Carrito</title>
</head>
    <body class="body-carrito">
    
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    
                    <div class="container-fluid">

                        <a class="navbar-brand" href="./home.html"><img src="./img/logo.jpg" alt="Logo" class="logo-carrito rounded-pill"></a> 
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ms-auto">
                                <a class="nav-link fw-bold" href="./productos.html">Productos</a>
                                <a class="nav-link fw-bold" href="./login.html">Login</a>
                                <a class="nav-link fw-bold" href="./registro.html">Registrate</a>
                            </div>
                        </div>
                    </div>
                </nav>

            </header>

            <main>
                <section class="conteiner">

                    <article>
                        <div class="row d-flex justify-content-center align-items-center">
                            
                            <h2 class="text-white fw-bold d-flex justify-content-center" >Carrito</h2>
                            
                            <div class="col-md-8 col-lg-8 col-xl-8">
                                
                                <table class=" table table table-ligth table-hover table-carrito-background table-sm table-borderless">
                                    
                                    <thead>
                                        <tr class="table-dark">
                                            <th scope="col" class="centrado-carrito"></th>
                                            <th scope="col"class="centrado-carrito">Camión</th>
                                            <th scope="col" class="centrado-carrito">Recorrido</th>
                                            <th scope="col" class="centrado-carrito">Precio</th>
                                            <th scope="col" class="centrado-carrito">Cantidad</th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                      <tr>
                                        <th scope="row" class="centrado-carrito">1</th>
                                        <td class="table-carrito-camiones centrado-carrito" data-title="Camión">
                                            <img src="./img/pexels-screeny-11053640.jpg" alt="camión-carga-blanco" >
                                        </td>
                                        <td class="table-carrito-recorrido centrado-carrito "  data-title="Recorrido">
                                            <p class="lead"> Origen: C.A.B.A. Destino: Córdoba Capital</p>
                                        </td>
                                        <td class="table-carrito-precio centrado-carrito" data-title="Precio">
                                            <p class="lead">u$s100/km</p>
                                        </td>
                                        <td class="table-carrito-cantidad centrado-carrito" data-title="Cantidad">
                                            <input type="number" min="1" value="1" class="input-carrito-cantidad">
                                            <button class="delete btn btn-secondary"> Eliminar </button>
                                        </td>
                                      </tr>
                                    
                                      <tr>
                                        <th scope="row" class="centrado-carrito">2</th>
                                        <td class="table-carrito-camiones centrado-carrito" data-title="Camión">
                                            <img src="./img/pexels-jonathan-cooper-9754798.jpg" alt="camión-carga-rojo">
                                        </td>
                                        <td class="table-carrito-recorrido centrado-carrito"  data-title="Recorrido>
                                            <p class="lead"> Origen: C.A.B.A. Destino: San Juan</p>
                                        </td>
                                        <td class="table-carrito-precio centrado-carrito" data-title="Precio">
                                            <p class="lead">u$s300/km</p>
                                        </td>
                                        <td class="table-carrito-cantidad centrado-carrito"  data-title="Cantidad">
                                            <input type="number" min="1" value="1" class="input-carrito-cantidad">
                                            <button class="delete btn btn-secondary"> Eliminar </button>
                                        </td>
                                      </tr>
                                      
                                      <tr>
                                        <th scope="row" class="centrado-carrito">3</th>
                                        <td class="table-carrito-camiones centrado-carrito" data-title="Camión">
                                            <img src="./img/camion1.jpg" alt="camión-carga-blanco">
                                        </td>
                                        <td class="table-carrito-recorrido centrado-carrito" data-title="Recorrido>
                                            <p class="lead"> Origen: C.A.B.A. Destino: Montevideo - Uruguay</p>
                                        </td>
                                        <td class="table-carrito-precio centrado-carrito" data-title="Precio" >
                                            <p class="lead">u$s500/km</p>
                                        </td>
                                        <td class="table-carrito-cantidad centrado-carrito" data-title="Cantidad">
                                            <input type="number" min="1" value="1"class= "input-carrito-cantidad">
                                            <button class="delete btn btn-secondary"> Eliminar </button>
                                        </td>
                                      </tr>
                                    </tbody>

                                    <tfoot>
                                        ...
                                      </tfoot>

                                </table>

                                <br><br>

                                <div class="row mx-4">
                                
                                    <div class="col col-md-11 col-lg-11 col-xl-11">
                                        <h3 class="total-carrito-items text-danger">Total: 0</h3>
                                    </div>
                                    
                                    <div class="col col-md-1 col-lg-1 col-xl-1">
                                        <button class="btn btn-danger p-3" id="#button-carrito-buy">BUY</button>
                                    </div>
                                
                                </div>

                            </div>

                        </div>

                    </article>
          
                    <br><br>
                
                </section>

            
            </main>

            <footer class="bg-light p-3">
                <p class="text-center m-0 text-muted text-black"> Todos los derechos son reservados Rent a Truck - "Una empresa que se proyecta a futuro" </p>
            </footer>
        

    </body>
</html>