<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>login</title>
</head>
<body>
    <div class="contenedor-login">
        <img src="" alt="logo">
        <div class="sesion-ini">
            <label for="email">E-mail<br/>
                <input type="email" name="email">
            </label>
            <label for="contraseña">Contraseña<br/>
                <input type="password" name="password" placeholder="*********">
            </label>
            <label for="recordar" id="rec">Recordar
                <input type="checkbox" name="recordar">
            </label>
            <a href="#">¿Olviddaste tu contraseña?</a>
            <div class="entrar">
                <button>></button><br>
                <a href="#">Ingresá con Google</a>
            </div>
            <div class="copy">
                <a href="#">Términos y Condiciones</a>
                <a href="#">Póliticas de Privacidad</a>
            </div>
        </div>
    </div>
</body>
</html>