.contenedor-login {
    width: 25%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: dashed 2px blue;
}

.sesion-ini {
    border: dashed 2px red;
    align-self: stretch;
    width: 200px;
    display: flex;
    flex-direction: column;
}

#rec {
    margin-right: 25px;
    text-align: right;
}

.entrar {
    text-align: center;
}

.copy {
    display: flex;
    justify-content: space-around;
}

.logo{
    max-width: 100px;
}

.body-carrito{
    background-image: url("../img/pexels-ivan-3089685.jpg");
    background-attachment: fixed;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
}
