<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/233a2ea3ad.js" crossorigin="anonymous"></script>

        <title>Productos</title>
        
    </head>

    <body class="body-productos">

        <header>
            <nav class="navbar bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="./">
                         <img src="img/logo.jpg" id="logo" width="40" height="40" class="rounded-pill">
                    </a>
                    <p class="text-center-productos">Una empresa que se proyecta a futuro.</p>
                    <form class="d-flex" role="Buscar">
                        <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn-home-inicio-sesion button-h" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
                

        </header>

        <main id="main"> 

            <br><br><br>

            <div class="container my-3 ">
                <div class="row my-custom-row justify-content-center ">

                    <!----------------------------TARJETA UNO------------------------->  
              
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">

                       <div class="card border border-danger mb-3 m-3" style="width: 20rem;">
                         <img src="img/camion1.jpg" class="camiones">
                          <div class="card-body">
                             <h1>Camión de automóviles</h1>

                              <p> 
                                  <ul>
                                     <li>Marca: Scania</li>
                                     <li> Modelo: 310 Turbo</li>
                                     <li> Tipo de carga: <br> Automóviles</li>
                                     <li>Precio por Km: $7.000</li>
                                 </ul>
                              </p>
                              <button class="btn-home-inicio-sesion button-h"> <a href="./carrito" class="text-reset text-decoration-none">Contratar</a> </button>
                                                      
                           </div>

                        </div>

                    </div>
           


                  <!----------------------------TARJETA DOS------------------------->  
              
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">

                       <div class="card border border-danger mb-3 m-3 " style="width: 20rem;">
                           <img src="img/camion2.jpg" class="camion2">
                          <div class="card-body">
                              <h1>Camión Térmico</h1>

                               <p> 
                                  <ul>
                                     <li>Marca: Mercedes Benz</li>
                                     <li>Modelo: Dayli</li>
                                     <li>Tipo de carga: <br> Productos congelados</li>
                                     <li>Precio por Km: $4.000</li>
                                   </ul>
                               </p>
                               <button class="btn-home-inicio-sesion button-h"> <a href="./carrito" class="text-reset text-decoration-none">Contratar</a> </button> 
                            </div>   

                        </div>
                    
                    </div>


                 <!----------------------------TARJETA TRES------------------------->  
              
                 <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">

                      <div class="card border border-danger mb-3 m-3" style="width: 20rem;">
                          <img src="img/camion-fletero.jpg" class="camion-3">
                          <div class="card-body">
                              <h1>Camión de envasados</h1>

                              <p> 
                                  <ul>
                                     <li>Marca: Volvo</li>
                                     <li>Modelo: Dayli</li>
                                     <li>Tipo de carga: <br> Productos envasados</li>
                                    <li>Precio por Km: $2.000</li>
                                 </ul>
                              </p>
                              <button class="btn-home-inicio-sesion button-h"> <a href="./carrito" class="text-reset text-decoration-none">Contratar</a> </button>
                              
                            </div>  

                        </div>

                    </div>

                    <!----------------------------TARJETA CUATRO------------------------->  

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">

                        <div class="card border border-danger mb-3 m-3" style="width: 20rem;">
                            <img src="img/camiones-con-barro.jpg" class="camiones">
                            <div class="card-body">
                                <h1>Camión de madera</h1>
  
                                <p> 
                                    <ul>
                                       <li>Marca: Volvo</li>
                                       <li>Modelo: Dayli</li>
                                       <li>Tipo de carga: <br> Productos de madera</li>
                                      <li>Precio por Km: $2.000</li>
                                   </ul>
                                </p>
                                <button class="btn-home-inicio-sesion button-h"> <a href="./carrito" class="text-reset text-decoration-none">Contratar</a> </button>
                                
                            </div>  
  
                        </div>
  
                    </div>

                    <!----------------------------TARJETA CINCO-------------------------> 

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">

                        <div class="card border border-danger mb-3 m-3 " style="width: 20rem;">
                            <img src="img/camion-de-carga.jpg" class="camiones">
                            <div class="card-body">
                                <h1>Camión de carga</h1>
  
                                <p> 
                                    <ul>
                                       <li>Marca: Volvo</li>
                                       <li>Modelo: Dayli</li>
                                       <li>Tipo de carga: <br> Productos hogareños</li>
                                      <li>Precio por Km: $2.000</li>
                                   </ul>
                                </p>
                                <button class="btn-home-inicio-sesion button-h"> <a href="./carrito" class="text-reset text-decoration-none">Contratar</a> </button>
                                
                            </div>  
  
                        </div>
  
                    </div>

                    <!----------------------------TARJETA SEIS----------------------------------> 

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">

                        <div class="card border border-danger mb-3 m-3" style="width: 20rem;">
                            <img src="img/camion6.jpg" class="camiones">
                            <div class="card-body">
                                <h1>Camión Frigorífico</h1>
  
                                <p> 
                                    <ul>
                                       <li>Marca: Volvo</li>
                                       <li>Modelo: Dayli</li>
                                       <li>Tipo de carga: <br> Productos hogareños</li>
                                      <li>Precio por Km: $2.000</li>
                                   </ul>
                                </p>
                                <button class="btn-home-inicio-sesion button-h"> <a href="./carrito" class="text-reset text-decoration-none">Contratar</a> </button>
                                
                            </div>  
  
                        </div>
  
                    </div>
                    
                </div>

            </div>

            <form> 

             <div class="mb-3 m-3">
                 <label for="exampleFormControlInput1" class="form-label">Dirección de correo electrónico</label>
                 <input type="email" class="form-control border border-danger" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
               </div>
               <div class="mb-3 m-3">
                 <label for="exampleFormControlTextarea1" class="form-label">Opiniones:</label>
                 <textarea class="form-control border border-danger" id="exampleFormControlTextarea1" rows="3"></textarea>
                 <button class="btn-home-inicio-sesion button-h"> <a href="./carrito" class="text-reset text-decoration-none">Enviar</a> </button>
                 <button class="btn-home-inicio-sesion button-h"> <a href="./carrito" class="text-reset text-decoration-none">Borrar</a> </button>
              </div>

            </form>


        </main>
        
    </body>
</html>