<section>
    <div class="text-center"><a href="http://www.facebook.com" class="text-reset text-decoration-none"><i class="bi bi-facebook fs-3"></i></a> <a href="http://www.instragram.com" class="text-reset text-decoration-none"><i class="bi bi-instagram fs-2"></i></a></div>
    
    <p class="text-center m-0 text-muted text-black"> Todos los derechos son reservados Rent a Truck - "Una empresa que se proyecta a futuro" </p>
    <p class="text-center m-0 text-muted text-black">©Copyright 2019 SimpleVisual</p>
</section>
<div></i></div>