<!--NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="principio">
                        
    <div class="container-fluid">

        <a class="navbar-brand" href="/"><img src="/img/logo.jpg" alt="Logo" class="logo rounded-pill"></a> 

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
       

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <% if (!locals.userLogueado) { %>
                <a class="nav-link fw-bold" href="#empresa">EMPRESAS</a>
                <a class="nav-link fw-bold" href="#servicios">SERVICIOS</a>
                <a class="nav-link fw-bold" href="#flota">FLOTA</a>
                <a class="nav-link fw-bold" href="#oficinas"> OFICINAS</a>
                <a class="nav-link fw-bold" href="#contacto">CONTACTO</a>
                <a class="nav-link fw-bold" href="/products/productos">PRODUCTOS</a>
                <%} else{ %> 
                    <a class="nav-link fw-bold" href="/products/productos"><i class="fa-solid fa-truck"></i> PRODUCTOS</a>
                    <a class="nav-link fw-bold" href="/user/perfil"><i class="fa-solid fa-user"></i> MI PERFIL</a>
                    <a class="nav-link fw-bold" href="/user/logout"><i class="fa-solid fa-door-open"></i> LOGOUT</a>
                <% } %>
            </div>
        </div>

    </div>
</nav>